<!-- Volunteer Addition Page -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eventful - {{event.name}}</title>

        <!-- CSS -->
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
         <link href="{% static 'form-elements.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'eventful.ico' %}" type="image/x-icon">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            #instruct:hover {
                text-decoration: underline;
            }
        </style>
    </head>

    <body>

    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'manage' %}">{{ event.name }}</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage' %}">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'add' %}">Volunteers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'settings' %}">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Display messages -->
    {% if messages %}
    {% for message in messages %}
    <p style="color:black; background-color: white"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
    {% endif %}

    <!-- Instructions modal -->
    <div style="color:black" id="instructions" class="modal fade" role="dialog" data-backdrop="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <b>CSV Instructions</b>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" style="text-align:justify">
            Please upload a .csv file containing one volunteer per row, in the order "name,phone number,(optionally)category". A great way to do this is to have your volunteers enter their names and phone numbers into a Google form, then export the results to Google Sheets and download that as a .csv file. Google Sheets also has proper Unicode encoding, unlike Microsoft Excel. 
          </div>
        </div>
      </div>
    </div>

        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h2>Add Volunteers</h2>
                                </div>
                            </div>
                            <div class="form-bottom">
                            <!-- Individual volunteer form -->
                            <form method="post">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <table style="width:100%">
                            <tr>
                                <td><p><input id="id_{{field.name}}" style="width:100%" name="{{field.name}}" type = "text" class="form-control" placeholder="{{field.label}}" {% if field.field.required %} required {% endif %}></p></td>
                            </tr>
                            </table>

                            <table style="width:100%">
                            <tr>
                                <td><p>{{field.errors}}</p></td>
                            </tr>
                            </table>
                            {% endfor %}
                            <table style="width:100%">
                                    <tr>
                                    <td>
                                    <button class = "btn" type="submit">Add</button>
                                    </td>
                                    </tr>           
                            </form>
                            </table>
                            <p></p>
                            
                            <!-- CSV Upload portion -->
                            <h3 style = "width: 100%; text-align: center">---OR---</h3>
                            <h3 style = "width: 100%; text-align: center">Upload a .csv file <div style="color:#3366BB">(<span id="instruct" data-toggle="modal" data-target="#instructions">help</span>)</div></h3><p></p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div style="color:black">{{csvform.as_p}}</div>
                                <button class = "btn" type="submit" value="Submit">Upload</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Javascript -->
        <script src="{% static 'jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'scripts.js' %}"></script>
        
        <!-- Disable button doubleclick -->
        <script>
          $("form").each(function() {
            $(this).submit(function() {
              $(this).submit(function() {
                return false;
              });
            });
          });
        </script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>